
#root{
  background-image: url("../assets/images/bg-img.jpg");
}

.Resume {
  display: flex;
  justify-content: center;
}

.Resume-header {
  margin-top: 2%;
  background-color: white;
  padding: 2% 0.9% 2% 0.9%;
  width:70%;
  box-shadow: 2px 2px 8px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

table,td,th{
  border: 2px solid;
}

.img-div{
  background-image: url("../assets/images/scannedphoto.jpg");
  height: 100px;
  width:100px;
  border-radius: 50%;
  background-size: cover;
}

.nxt-btn{
  margin: 2% 0% 0% 2%;
}

.basic-cir{
  width:400px;
  height:400px;
  background-color: #98c0e2;
  color:#1e5ba8;
  padding: 19% 0% 0% 14%;
  position: relative;
  margin-top: 10%;
}

.html-cir,.css-cir,.cs-cir,.c-cir,.java-cir,.js-cir{
  width:150px;
  height:150px;
  position: absolute;
  color: white;
}

.html-cir{
  background-color: #008037;
  padding: 4% 0% 0% 3.5%;
  top: 28%;
  right:30%;
}

.css-cir{
  background-color: #ff5757;
  padding: 4% 0% 0% 4%;
  top: 58%;
  right:30%;
}

.js-cir{
  background-color: #ffbe59;
  padding: 4% 0% 0% 2.5%;
  top: 80%;
}

.java-cir{
  background-color: #283766;
  padding: 4% 0% 0% 4%;
  top: 58%;
  left:28%;
}

.cs-cir{
  background-color: #ff924e;
  padding: 4% 0% 0% 3.5%;
  top: 28%;
  left:28%;
}

.c-cir{
  background-color: #5271ff;
  padding: 4% 0% 0% 4.5%;
  top: 18%;
}

.project{
  margin-top: 15%;
  margin-bottom: 2%;
  text-align: center;
}

#nxt-btn:hover{
  background-color: black;
}





